Tkimnter==0.1.0


Industry Project - Yozu/
├── data/               # Datasets/database
├── models/             # Python scripts for data modeling
├── backend/            # machine learning backend
├── frontend/           # Tkimnter files
├── main.py             # Entry point script
└── requirements.txt    # Dependencies for the project
